In [2]:
import pandas as pd

babies_df = pd.read_csv("babies.csv")
babies_df

      case  bwt  gestation  parity   age  height  weight  smoke
0        1  120      284.0       0  27.0    62.0   100.0    0.0
1        2  113      282.0       0  33.0    64.0   135.0    0.0
2        3  128      279.0       0  28.0    64.0   115.0    1.0
3        4  123        NaN       0  36.0    69.0   190.0    0.0
4        5  108      282.0       0  23.0    67.0   125.0    1.0
...    ...  ...        ...     ...   ...     ...     ...    ...
1231  1232  113      275.0       1  27.0    60.0   100.0    0.0
1232  1233  128      265.0       0  24.0    67.0   120.0    0.0
1233  1234  130      291.0       0  30.0    65.0   150.0    1.0
1234  1235  125      281.0       1  21.0    65.0   110.0    0.0
1235  1236  117      297.0       0  38.0    65.0   129.0    0.0

[1236 rows x 8 columns]

In [4]:
births_df = pd.read_csv("births14.csv")
births_df

,fage,mage,mature,weeks,premie,visits,gained,weight,lowbirthweight,sex,habit,marital,whitemom
0,34.0,34,younger mom,37,full term,14.0,28.0,6.96,not low,male,nonsmoker,married,white
1,36.0,31,younger mom,41,full term,12.0,41.0,8.86,not low,female,nonsmoker,married,white
2,37.0,36,mature mom,37,full term,10.0,28.0,7.51,not low,female,nonsmoker,married,not white
3,NaN,16,younger mom,38,full term,NaN,29.0,6.19,not low,male,nonsmoker,not married,white
4,32.0,31,younger mom,36,premie,12.0,48.0,6.75,not low,female,nonsmoker,married,white
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,28.0,24,younger mom,39,full term,NaN,20.0,6.49,not low,male,NaN,not married,not white
996,37.0,31,younger mom,38,full term,8.0,33.0,5.80,not low,female,nonsmoker,married,white
997,27.0,27,younger mom,34,premie,7.0,25.0,6.75,not low,female,nonsmoker,married,white
998,NaN,33,younger mom,42,full term,0.0,13.0,7.44,not low,male,nonsmoker,not married,white
999,21.0,17,younger mom,41,full term,12.0,41.0,7.13,not low,female,nonsmoker,not married,white

In [5]:
lowbirth_df = pd.read_csv("low_birth.csv")
lowbirth_df

,Reporting period,Period of coverage,Breakdown,ONS code,Level,Level description,Indicator value,CI lower,CI upper,Denominator,Numerator
0,2017,01/01/2017 to 31/12/2017,National,E92000001,England,Resident in England,2.8,2.8,2.9,"586,452","16,534"
1,2016,01/01/2016 to 31/12/2016,National,E92000001,England,Resident in England,2.8,2.7,2.8,"602,547","16,788"
2,2015,01/01/2015 to 31/12/2015,National,E92000001,England,Resident in England,2.8,2.7,2.8,"603,646","16,748"
3,2014,01/01/2014 to 31/12/2014,National,E92000001,England,Resident in England,2.9,2.8,2.9,"601,620","17,231"
4,2013,01/01/2013 to 31/12/2013,National,E92000001,England,Resident in England,2.8,2.8,2.9,"608,579","17,175"
...,...,...,...,...,...,...,...,...,...,...,...
1029,2013,01/01/2013 to 31/12/2013,CCG,E38000207,11C,"NHS Windsor, Ascot and Maidenhead CCG",2.2,1.5,3.1,"1,471",32
1030,2013,01/01/2013 to 31/12/2013,CCG,E38000208,12F,NHS Wirral CCG,2.2,1.7,2.7,"3,204",69
1031,2013,01/01/2013 to 31/12/2013,CCG,E38000209,11D,NHS Wokingham CCG,2.2,1.6,3.1,"1,587",35
1032,2013,01/01/2013 to 31/12/2013,CCG,E38000210,06A,NHS Wolverhampton CCG,3.3,2.8,4.0,"3,146",105
1033,2013,01/01/2013 to 31/12/2013,CCG,E38000211,06D,NHS Wyre Forest CCG,2.8,1.9,4.0,971,27

## PossÃ­veis perguntas:
    
1) Qual a maior faixa Ã©taria de mÃ£es casadas?

2) Ã‰ mais comum entre as mÃ£es mais jovem terem filho prematuro?

3) Fumar influÃªncia no peso do bebe?